@font-face {
    font-family: 'Anton';
    src: url('fonts/Anton-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Ash';
    src: url('fonts/Ash.ttf') format('truetype');
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Bitcount';
    src: url('fonts/BitcountPropDouble.ttf') format('truetype');
}
@font-face {
    font-family: 'Bungee';
    src: url('fonts/Bungee-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Caveat';
    src: url('fonts/Caveat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Cinzel Decorative';
    src: url('fonts/CinzelDecorative-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Get Show';
    src: url('fonts/Get Show.ttf') format('truetype');
}
@font-face {
    font-family: 'Great Vibes';
    src: url('fonts/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Greek Freak';
    src: url('fonts/Greek-Freak.ttf') format('truetype');
}
@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik Mono One';
    src: url('fonts/RubikMonoOne-Regular.ttf') format('truetype');
}